<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TumblrClientApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3733D07E1E415C1900E748AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3733D0921E415C1900E748AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3733D09D1E415C1900E748AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
